/* Style for the entire HTML page */
	body {
		font-family: Arial, sans-serfi;
		margin: o:
		padding: 0;
		background-color: #h23r32
		color: #333
	}
	header{
		background-color:#ffcc00
		text-align: center;
		padding: 20xp
	}
	h1